.shop_products__section {
  display: flex;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }

  h2 {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    padding: 20px;
    font-weight: 600;

    @media screen and (min-width: 800px) {
    display: none;
  }

    .icon {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  .choose__filter__container {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 250px;
    border-right: 1px solid #c4c4c4;
    padding: 20px;

    @media screen and (max-width: 1100px) {
      display: none;
    }

    .sizes__container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .size__box {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c4c4c4;
        color: #c4c4c4;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 5px 10px 5px 0;
        cursor: pointer;

        &:hover {
          border: 1px solid #000;
          color: #000;
        }
      }

      .selected__size {
        border: 1px solid#000;
        color: #000;
      }
    }

    .colors__container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .color__box {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c4c4c4;
        color: #c4c4c4;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 5px 10px 5px 0;
        cursor: pointer;

        .color__box__inner {
          width: 100%;
          height: 100%;
        }

        &:hover {
          border: 1px solid #000;
          color: #000;
        }
      }

      .selected__color {
        border: 1px solid#000;
        color: #000;
      }
    }

    .price__range__container {
      width: 100%;

      input[type="range"] {
        width: 100%;
        height: 5px;
        background: #000000;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;

        &::-webkit-slider-thumb {
          appearance: none;
          width: 5px;
          height: 15px;
          background: #000000;
          cursor: pointer;
        }
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      margin: 15px 0;
      text-transform: uppercase;
    }

    .filter__container {
      display: flex;
      align-items: center;
      margin: 5px 0;

      // input[type="checkbox"] {
      //   margin-right: 10px;
      //   width: 15px;
      //   height: 15px;
      // }

      // span {
      //   margin-left: 10px;

      //   text-transform: uppercase;
      //   font-weight: 400;
      // }

      .container-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .container-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container-checkbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .container-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container-checkbox input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    }
  }

  .choose__filter__mobile__container {
    height: 90vh;
    width: 100%;
    position: absolute;
    z-index: 1000;
    background: #fff;
    left: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    animation: slideIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #000;

    @keyframes slideIn {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }

    .mobile__filter_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #c4c4c4;

      .close__button {
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        color: #0404c4;

        &:hover {
          border-bottom: 1px solid #000;
          color: #000;
        }
      }
    }

    .main__filter_container {
      display: flex;
      flex: 1;

      .filter__option {
        // height: 100vh;
        background: #dfdddd;
        width: 30%;
        h3 {
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 10px;
        }

        .active {
          background-color: rgba(255, 255, 255, 1);
          font-weight: 600;
          color: #000;
        }
      }

      .filter__container {
        display: flex;
        align-items: center;
        margin: 10px 10px;

        input[type="checkbox"] {
          width: 22px;
          height: 22px;
        }

        span {
          margin-left: 10px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }

    .show__results {
      padding: 20px;
      background: #000;
      color: #fff;
      span {
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
