@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.topbar__desktop {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 0px 15px;

  @media screen and (max-width: 800px) {
    display: none;
  }

  .logo {
    height: 80px;
    width: 80px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #fff;
    border-radius: 5px;
    height: 100%;

    input {
      flex: 1;
      background: #fff;
      border: none;
      padding: 10px;
      font-size: 15px;
      color: #000;
      outline: none;
      border-radius: 5px;
    }

    button {
      background: #fff;
      border: none;
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #000;
      outline: none;
      border-radius: 0 5px 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 20px;
        color: #000;
      }
    }
  }

  .signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .userContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      position: relative;

      .logoutBtnContainer {
        position: absolute;
        top: 120%;
        right: 0;
        color: #000;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        flex-direction: column;
        gap: 5px;
        z-index: 1;

        .logoutBtn {
          background: #eb5757;
          color: #fff;
          padding: 5px 10px;
          border: none;
          outline: none;
          transition: all 0.3s ease-in-out;
          border-radius: 5px;
          font-weight: 400;
          height: 100%;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .icon {
            font-size: 20px;
          }

          &:hover {
            background: #fff;
            color: #eb5757;
          }
        }
      }
    }

    button {
      background: white;
      color: black;
      font-size: 15px;
      padding: 5px 10px;
      border: none;
      outline: none;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      font-weight: 400;
      height: 100%;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .icon {
        font-size: 20px;
      }

      &:hover {
        background: #eb5757;
        color: #fff;
      }
    }
  }

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    text-decoration: none;

    span {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      color: #000;
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }

    .icon {
      font-size: 30px;
    }
  }
}
.topbar__mobile {
  background: #000;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
  padding: 0px 15px;
  flex-direction: column;
  padding-bottom: 10px;

  @media screen and (min-width: 800px) {
    display: none;
  }

  .row_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .logo {
      height: 50px;
      width: 50px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .signin {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      button {
        background: white;
        color: black;
        font-size: 15px;
        padding: 5px 10px;
        border: none;
        outline: none;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        font-weight: 400;
        height: 100%;
        font-weight: 500;

        &:hover {
          background: #eb5757;
          color: #fff;
        }
      }
    }

    .cart {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      color: #fff;
      text-decoration: none;
      span {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        color: #000;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
      }

      .icon {
        font-size: 30px;
      }
    }
  }

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #fff;
    border-radius: 5px;
    height: 100%;

    input {
      flex: 1;
      background: #fff;
      border: none;
      padding: 10px;
      font-size: 15px;
      color: #000;
      outline: none;
      border-radius: 5px;
    }

    button {
      background: #fff;
      border: none;
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #000;
      outline: none;
      border-radius: 0 5px 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 20px;
        color: #000;
      }
    }
  }
}

.dropdown {
  min-width: 100px;
  position: relative;
  z-index: 100;
  gap: 10px;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
  margin: 0 5px;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.shopBtn {
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: #fff;

  @media screen and (max-width: 800px) {
    font-size: 12px;
    padding: 10px;
    align-self: center;
  }

  &:hover {
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
  }
}
