.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 30px;
      cursor: pointer;
      margin: 0 10px;
      padding: 5px;

      &:hover {
        color: #eb5757;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    @media screen and (max-width: 800px) {
     
      justify-content: center;
      align-items: center;
    }

    .main__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 1;
    }

    .testimonial {
      width: 30%;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        width: 90%;
      }

      .name__time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        span:first-child {
          font-weight: bold;
        }

        span:last-child {
          font-weight: bold;
          color: #eb5757;
        }
      }
    }
  }

  .location_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    padding: 30px;

    h1 {
      font-size: 25px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: center;
    }

    @media screen and (max-width: 1024px) {
      padding: 10px;
    }

    iframe {
      height: 500px;
      width: 100%;

      @media screen and (max-width: 1024px) {
        height: 300px;
      }
    }
  }
}
