.navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 30px;
  position: sticky;
  top: 0;
  z-index: 100;

  @media (max-width: 768px) {
    display: none;
  }

  .navbar__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;

    .navbar__logo {
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .navbar__center {
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
      display: flex;
      align-items: center;
      margin: 0 10px;
      border-bottom: 0.1px solid #fff;

      input {
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 12px;
        padding: 5px;
        margin: 0 10px;
        cursor: pointer;
      }

      span {
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }

  .navbar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      padding: 10px;
    }

    .navbar__shopping_cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span:nth-child(1) {
        font-size: 12px;
        font-weight: 300;
      }
      span:nth-child(2) {
        font-size: 12px;
        font-weight: 500;
      }

      &:hover {
        color: #eb5757;
        cursor: pointer;
      }
    }
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 12px;

      cursor: pointer;
      padding: 10px;
      text-transform: uppercase;

      &:hover {
        border-bottom: 2px solid #eb5757;
      }
    }
  }

  .icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #eb5757;
    }
  }
}

.shop {
  position: relative;

  .menu__box {
    display: none;
  }

  // hover on shop to show menu_box

  &:hover {
    .menu__box {
      display: block;
    }
  }
}

.mobile__navbar {
  display: none;
  width: 100%;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

$primary-color: #131418;
$secondary-color: #61dafb;
$light-color: #f2f5f7;

nav {
  height: 6rem;
  width: 100vw;
  background-color: $primary-color;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  .logo {
    padding: 1vh 1vw;
    text-align: center;

    img {
      height: 100%;
      padding: 20px;
      object-fit: contain;
    }
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

    li {
      position: relative;

      a {
        text-decoration: none;
        margin: 0 0.7vw;

        &:hover {
          color: $secondary-color;
          &::before {
            width: 80%;
          }
        }

        &::before {
          content: "";
          display: block;
          height: 3px;
          width: 0%;
          background-color: $secondary-color;
          position: absolute;
          transition: all ease-in-out 250ms;
          margin: 0 0 0 10%;
        }
      }
    }
  }

  .hamburger {
    div {
      width: 30px;
      height: 3px;
      background: $light-color;
      margin: 5px;
      transition: all 0.3s ease;
    }

    display: none;

    &.toggle {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .line2 {
        transition: all 0.7s ease;
        width: 0;
      }

      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  @media screen and (max-width: 800px) {
    position: sticky;
    z-index: 3;

    .hamburger {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
    }

    .nav-links {
      position: relative;
      background: $primary-color;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 0.3s ease-out;
      pointer-events: none;
      margin-top: 80px;
      overflow: hidden;

      &.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
      }

      li {
        margin: 20px 0;
        a {
          font-size: 1.5rem;
          margin: 20px 0;
          color: #fff;
        }

        &:nth-child(1) {
          transition: all 0.5s ease 0.2s;
        }
        &:nth-child(2) {
          transition: all 0.5s ease 0.4s;
        }
        &:nth-child(3) {
          transition: all 0.5s ease 0.6s;
        }
        &:nth-child(4) {
          transition: all 0.5s ease 0.7s;
        }
        &:nth-child(5) {
          transition: all 0.5s ease 0.8s;
        }
        &:nth-child(6) {
          transition: all 0.5s ease 0.9s;
          margin: 0;
        }
        &:nth-child(7) {
          transition: all 0.5s ease 1s;
          margin: 0;
        }
      }

      .fade {
        opacity: 1;
      }
    }
  }
}
